body {
  font-family: helvetica, arial, sans-serif;
  background-color:#17203D;
  color: #fff;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
    background-color: #000824;
   padding: 1rem;
}
footer {
    background-color: #000824;
   padding: 1rem;
  color:#fff;
}
.navbar {
   list-style-type: none;
   display: flex;
   justify-content: left; 
}

.navbar li {
   margin: 0 1rem;
}

.navbar a {
   color: #fff;
   text-decoration: none;
   font-size: 1rem;
   padding: 0.5rem 1rem;
   transition: background-color 0.3s ease;
}

.navbar a:hover {
   background-color: #555;
   border-radius: 5px;
}

video {
  display: block;
  width: 50%; 
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  width: calc(100% - 20px);
  margin: 10px;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}
h1{
  padding:20px;
  color: #fc9551;
}
p  {
     padding-left: 2rem; 
  padding-bottom: 1rem; 
}
.button-group {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-top: 1rem;
}

button {
   padding: 0.5rem 2rem ;
  margin-left:2rem;
   font-size: 1rem;
   color: #fff;
   background-color: #555;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color:#219640;
}
